<!DOCTYPE html>
<html>
 <div class="sidebar">
<!--  <img src="public/cjj.jpeg">-->
  <div class="container">
    <div class="sidebar-about">
      <h1>
       <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}/public/logo.png" alt="logo.png" width="144" height="144">
        </a>
        <p href="{{ site.baseurl }}" style="text-align:center">
          {{ site.title }}
        </p>
      </h1>
        <h2>  {{ site.subtitle }}</h2>
      <p class="sidebar-about-email">{{ site.description }}</p>
      <p class="sidebar-about-email">{{ site.email }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
       
      
      <!-- use the below command to add new pages to the sidebar. Example:
      <a class="sidebar-nav-item" href="{{ site.baseurl }}page">name for the page</a>
      -->

      <a class="sidebar-nav-item" href="{{ site.baseurl }}research/">Research</a>

      <!--Bellow command adds dropright menu to the sidebar-->

        <div class="dropdown">
          <button class="dropbtn" style="text-align:left;font-size:18px">Projects></button>
          <div class="dropdown-content">
          <a href="{{ site.baseurl }}projects/loren/">LOREN</a>
          <a href="{{ site.baseurl }}projects/educat/">EDUCAT</a>
          </div>
        </div>

      <a class="sidebar-nav-item" href="{{ site.baseurl }}publications/">Publications</a>
    <a class="sidebar-nav-item" href="https://github.com/jiangjiechen">GitHub Page</a>
   </nav>
  </div>
 </div>
</html>
