<!DOCTYPE html>
<html lang="en-us">

  <meta name="author" content="Jiangjie Chen" />
  <meta name="keywords" content="Jiangjie Chen, Jiangjie Chen Fudan, Jiangjie Chen ByteDance" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="Homepage of Jiangjie Chen" />
  <meta name="google-site-verification" content="HGxk_S8QiSEdCh-08GdG8ljxMG3DXVwug6T6-R9XEeo" />

  {% include head.html %}

  <body>
    
    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
